@import '../config.scss';

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: hidden;
    
    h1{
        font-size: 3vw;
    }

    ul {
        margin: 1rem;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            font-size: 1rem;
            margin-top: 0;

            @include mobile {
                font-size: 2.5vw;
            }
        }
    }

    .container {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include tablet {
            width: 90%;
        }

        @include mintablet {
            width: 100%;
        }

        .item {
            position: relative;
            height: 25vh;
            width: 20vw;
            border-radius: 0.5rem;
            border: 1px solid black;
            margin: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            @include tablet {
                width: 25vw;
            }

            @include mintablet {
                height: 18vh;
                width: 30vw;
            }

            @include mobile {
                height: 18vh;
                width: 40vw;
            }
        

            .about-project {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 1.5rem;

                h4 {
                    padding-bottom: 1rem;
                }

                .icon-container {
                    display: flex;

                    .icon {
                        padding: 0 1rem;
                    }
                }

            }

            img {
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            img .mobile {
                object-fit: none;
                height: 100%;
                width: 1rem;
            }

            &:hover {
                background-color: #5999ff;
                cursor: pointer;

                .icon {
                    z-index: 3;
                    color: black;
                }

                .icon:hover {
                    color: white;

                }

                img {
                    opacity: 0.3;
                    z-index: 0;
                }
            }
        }
    }
}