@import '../config.scss';

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: $primaryColor;

    .wrapper {
        padding: 0;
        border: 0;
        display: flex;
        width: 60%;
        height: 80%;
        border: 1px solid black;
        border-radius: 1rem;
        background-color: #999999;

        @include tablet {
            width: 90%;
        }

        @include mobile {
            height: 60%;
        }

        @include minmobile {
            width: 97%;
            height: 70%;
        }

        .left-skill {
            display: flex;
            text-align: center;
            flex-direction: column;
            flex: 0.333;
            height: 100%;
            background-color: white;
            overflow: hidden;
        }

        .center {
            display: flex;
            flex-direction: column;
            text-align: center;
            flex: 0.331;
            height: 100%;
            background-color: white;
        }

        .right {
            display: flex;
            flex-direction: column;
            flex: 0.333;
            text-align: center;
            height: 100%;
            background-color: white;
        }

        .header-icon {
            font-size: 5vw;
            padding-top: 2vw;
            overflow: hidden;

            @include minmobile {
                font-size: 3rem;
            }
        }

        .skill-header {
            font-size: 1vw;
            text-align: center;
            color: black;

            @include tablet {
                font-size: 2vw;
            }

            @include minmobile {
                font-size: 1rem;
            }
        }

        h5 {
            margin-bottom: 1rem;
        }

        .description{
            text-align: center;
            font-size: 1vw;
            padding: 1rem;
            margin-bottom: 2rem;
            border: none;
            color: #999999;

            @include tablet {
                font-size: 1.8vw;
            }

            @include minmobile {
                font-size: 0.6rem;
                margin-bottom: 0.5rem;
            }

            @include xsmobile {
                font-size: 0.55rem;
            }
        }

        li {
            padding: 0.3rem;
            text-align: center;
            font-size: 1vw;
            margin: 0;

            @include tablet {
                font-size: 1.7vw;
            }

            @include minmobile {
                font-size: 0.8rem;
            }

            @include xsmobile {
                font-size: 0.6rem;
            }
        }
    }

    h1 {
        padding-bottom: 2rem;
    }
}