$primaryColor: rgb(29, 2, 151);

$tabletWidth: 1124px;
$minTabletWidth: 850px;
$mobile: 650px;
$minMobile: 450px;

@mixin mintablet {
    @media (max-width: #{$minTabletWidth}) {
        @content
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content
    }
}

@mixin minmobile {
    @media (max-width: #{$minMobile}) {
        @content
    }
}

@mixin tablet {
    @media (max-width: #{$tabletWidth}) {
        @content
    }
}